@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --purple: #c488ff;
    --yellow: #e4d678;
    --light: #EFEFEF;
    --dark: #131518;
    --text-secondary-light: rgba(0, 0, 0, 0.8);
}

.bg__blur{
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

.bg__glass{
    background: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 4px;
}

.nav__links__animation {
    position: relative;
}

.nav__links__animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--yellow);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav__links__animation:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav__links__selected::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--purple);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scale(1);
}

.header__gradient__light{
    background: radial-gradient(29.29% 55% at 75% 50%,
     rgba(196, 136, 255, 0.76) 0%, rgba(196, 136, 255, 0.48) 23.14%,
      rgba(196, 136, 255, 0.289183) 44%, rgba(196, 136, 255, 0.13) 68.5%,
       rgba(196, 136, 255, 0) 100%);
    background-blend-mode: darken;
}

.scale-up-center-active:active{
	-webkit-animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-up-center-hover:hover{
	-webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.rotate-scale-up-hover:hover {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

 @-webkit-keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }

  @keyframes slideInLeft {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .slide-left {
    animation: 1s ease-out 0s 1 slideInLeft;
  }
  