@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* --purple: #c488ff; */
    --purple: #050040;
    --yellow: #e4d678;
    --light: #EFEFEF;
    --dark: #131518;
    --text-secondary-light: rgba(0, 0, 0, 0.8);
    --text-secondary-dark: rgb(245, 245, 245);
}

.grid-auto-fill{
  grid-template-columns: repeat(auto-fill, 18rem);
}

.flex-basis{
  flex-basis: auto;
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

body{
  background-color: #f5f6f7;
}

.bg__blur{
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
}

.bg__glass{
    background: rgba(255, 255, 255, 0.8);
    background-repeat: no-repeat;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 4px;
}

.nav__links__animation {
    position: relative;
}

.nav__links__animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--yellow);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav__links__animation:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.nav__links__selected::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--purple);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scale(1);
}

.scale-up-center-infinite-1{
	-webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite;
	animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite;
}

.scale-up-center-infinite-2{
	-webkit-animation: scale-up-center-small 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite 1s;
	animation: scale-up-center-small 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both infinite 1s;
}

.card-before:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card-before:hover p{
  transform: translate(0px);
}
.card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  display: grid;
  place-content: center;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.10em;
  height: 1.10em;
  border: 0.10em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--purple);
  transform-origin: bottom left;
  clip-path: polygon(80% 8%, 100% 0, 51% 94%, 3% 75%, 0 66%, 39% 70%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.header-gradient{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.4992121848739496) 0%, rgba(0,0,0,0.24711134453781514) 50%, rgba(0,212,255,0) 100%);
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes scale-up-center-small {
  0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
  }
  100% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
      -webkit-transform: scale(0.7);
              transform: scale(0.7);
  }
  100% {
      -webkit-transform: scale(1);
              transform: scale(1);
  }
}

.rotate-scale-up-hover:hover {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

.slide-left {
  animation: 1s ease-out 0s 1 slideInLeft;
}

.slide-right {
  animation: 1s ease-out 0s 1 slideInRight;
}

.slide-up {
  animation: 1.5s ease-out 0s 1 slideInUp;
}

@keyframes slideInUp {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translatey(0);
  }
}


@keyframes slideInLeft {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
  